    <!-- Background images for gsap-->
    <div id="bg">
        <img class="laptop-img" src="{{ url_for('static', filename = 'images/laptop.png')}}" alt="laptop">
        <img class="drink-img" src="{{ url_for('static', filename = 'images/drink.png')}}" alt="drink">
        <img class="mentoring-img" src="{{ url_for('static', filename = 'images/helping.png')}}" alt="mentoring">
        <img class="circle-img" src="{{ url_for('static', filename = 'images/ellipse.png')}}" alt="circle">
    </div>