<footer>
    
    <div>
        <img class="icon" src="{{ url_for('static', filename = 'images/icon_logo.svg')}}" alt="HyperionDev Icon">
        <ul class="social-media">
            <li><a href="https://x.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>

    <ul>
        <li class="title"><h2>Company</h2></li>
        <li><a href="{{ url_for('additional')}}">Join our Team</a></li>
        <li><a href="{{ url_for('additional')}}">Privacy</a></li>
        <li><a href="{{ url_for('additional')}}">Terms</a></li>
        <li><a href="{{ url_for('additional')}}">About Us</a></li>
        <li><a href="{{ url_for('additional')}}">FAQ</a></li>
        <li><a href="{{ url_for('additional')}}">Contact Us</a></li>
    </ul>

    <ul>
        <li class="title"><h2>Employers</h2></li>
        <li><a href="{{ url_for('additional')}}">Bootcamps</a></li>
        <li><a href="{{ url_for('additional')}}">Upskill Your Employees</a></li>
        <li><a href="{{ url_for('additional')}}">Success Stories</a></li>
    </ul>

    <ul>
        <li class="title"><h2>Students</h2></li>
        <li><a href="{{ url_for('additional')}}">#CodeDidThis</a></li>
        <li><a href="{{ url_for('additional')}}">Coding Careers</a></li>
        <li><a href="{{ url_for('additional')}}">Scholarships</a></li>
        <li><a href="{{ url_for('additional')}}">Student Loans</a></li>
        <li><a href="{{ url_for('additional')}}">Recources</a></li>
    </ul>

    <ul>
        <li class="title"><h2>Popular Topics</h2></li>
        <li><a href="{{ url_for('additional')}}">Software Development</a></li>
        <li><a href="{{ url_for('additional')}}">Web Development</a></li>
        <li><a href="{{ url_for('additional')}}">Programming Information</a></li>
        <li><a href="{{ url_for('additional')}}">Carbon Reduction Plan</a></li>
    </ul>

    <ul>
        <li class="title"><h2>Connect</h2></li>
        <li><a href="{{ url_for('additional')}}">Newsletter</a></li>
    </ul>

</footer>


<p class="rights">© <span><a href="https://annilltimothy.com/portfolio"> annilltimothy </a></span> for HyperionDev. All rights reserved.</p>