<section class="statistics">
    <div class="stat-text">
        <h1>A <span class="green">life-changing</span> experience</h1>
        <ul>
            <li>
                <h1><span class="blue">100,000+</span></h1>
                <h2>Expert Code Reviews</h2>
                <p>We've perfected the method of teaching tech skills by incorporating expert code review in all of our bootcamps. Get your code reviewed by experts from Day 1, so you can learn industry-grade practices. </p>
            </li>
            <li>
                <h1><span class="blue">7400+</span></h1>
                <h2>Hours of support in 2020</h2>
                <p>Our students receive comprehensive support and feedback from an expert team of code reviewers while studying with us. Expert help is just a video call away. </p>
            </li>
            <li>
                <h1><span class="blue">84%</span></h1>
                <h2>Reached Career Outcomes</h2>
                <p>Most of our graduates end up reaching their career goals by finding a job or upskilling in the tech industry, while 80% of our grads secured a job within 6 months of graduating.</p>
            </li>
            <li>
                <h1><span class="blue">4.8/5</span></h1>
                <h2>High student satisfaction</h2>
                <p>With hundreds of 5-star reviews from our students and alumni, we're one of the top-rated tech education providers in the world.</p>
            </li>
        </ul>
    </div>
    
    <!-- Moving Images 
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    -->
    
</section>